.Toolbar {
  background: rgb(0 0 0 / 50%);
  color: white;
  font-size: 1.5rem;
  padding: 1rem !important;
  position: absolute !important;
  top: 0;

  button {
    opacity: 1;
    padding-left: .25rem;
    padding-right: .25rem;

    &.active {
      color: deepskyblue;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }

  &.not-ready {
    .annotation-tool {
      opacity: .5;
    }
  }
}

// input[type="range"] {
//   appearance: slider-vertical
// }